<div class="ellipsis_inline" data-placement="bottom" title="{{#unless value}}{{#if def.placeholder}}{{str def.placeholder this.model.module}}{{/if}}{{/unless}}{{value}}" >
    <a href="javascript:void(0)" class="btn btn-mini icon-download download"> {{str 'LBL_DOWNLOAD_BACKUP' module}}</a>
</div>
