<div id="file-drop-zone" class="dropzone">
    <div class="dz-default dz-message">
        <i class="fa fa-upload" aria-hidden="true"></i><br>

        <p>{{str 'LBL_M_FILE_UPLOAD_DROP_FILES'}}<p>
        <p>{{str 'LBL_M_FILE_UPLOAD_CLICK_UPLOAD'}}</p>
    </div>
</div>

<div id="template-preview">
        <div class="dz-preview dz-file-preview well my-preview" id="dz-preview-template">
                <div class="dz-details">
                        <div class="dz-filename"><span data-dz-name></span></div>
                </div>
                <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                <div class="dz-success-mark"><span></span></div>
                <div class="dz-error-mark"><span></span></div>
                <div class="dz-error-message"><span data-dz-errormessage></span></div>
        </div>
</div>